<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>add</servlet-name>
        <servlet-class>VacServ.add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>VacServ.delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit</servlet-name>
        <servlet-class>VacServ.edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>show</servlet-name>
        <servlet-class>VacServ.show</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>VacServ.StudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>show</servlet-name>
        <url-pattern>/show</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/StudentServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
